body { 
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.logo {
	float: right;
	position: relative;
  width: 10em;
}

.wrap {
  @include span-columns(12 of 12);
  padding: 0px 60px;
}

.popout {
  @include span-columns(6 of 12);
  background-color: #9e99dc;
  display: none;
  min-height: 500px; 
  opacity: 0.8;
  float: left;
}

.content {
  @include span-columns(6 of 12);
  float: right;
  min-height: 500px;
  opacity: 0.8; 
}

button {
  font-size: 18px; 
  border-radius: 5px;
  border-color: rgb(48, 49, 54);
  width: 280px;
  padding: 10px;
  color: white;
  background-color: rgb(48, 49, 54);
}