#fixed-bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#logo {
	float: right;
	position: relative;
  width: 150px;
  margin-top: -30px;
  margin-right: 10px;
  overflow: hidden;  
/*  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;*/
}

#logo:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */

#logo:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

#logo:active:after {
  opacity: 0;
}

.dummy {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
  float: right;
  position: relative;
  margin-top: 150px;
  width: 700px;
  padding-bottom: 100px; 
}

.dummy h1 {
  font-size: 28px;
}

#contact {
  float: right;
  position: relative;
}

nav {
  float: right;
  position: relative;
}

#scroll {
  float: right;
  position: relative;
}

button {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  font-size: 18px; 
  border-radius: 5px;
  border-color: rgb(48, 49, 54);
  width: 280px;
  padding: 10px;
  color: white;
  background-color: rgb(48, 49, 54);
}

ul {
  list-style: none;
  padding: 0;
}

ul li a {
  color: rgb(48, 49, 54);
}